# Entornos de Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Bases de datos y archivos grandes
# Idealmente en producción se ignoran. Pero para esta prueba técnica,
# subiremos el sqlite para que el Dashboard de Streamlit en la Nube pueda leerlo.
# *.sqlite
*.db

# OS
.DS_Store
Thumbs.db
